@font-face {
  font-weight: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "MontserratBold";
  font-style: normal;
  src: url("/fonts/MotserratBold.ttf");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  src: url("/fonts/Roboto.ttf");
}

* {
  margin: 0;
}

/* header */

.img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(media/image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-block {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 940px;
}

.img-block__reg-box {
  display: flex;
  flex-direction: row;
}

.img-block__logo {
  font-size: 20px;
  font-family: "MontserratBold", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.img-block__reg {
  padding: 15px 20px;
  font-weight: 600;
  font-family: "Montserrat", Arial, sans-serif;
}

.img-block__reg_border {
  border: 2px #fff solid;
  border-width: 2px;
  border-radius: 30px;
}

.img-block__title {
  font-weight: bold;
  font-size: 50px;
  font-family: "Montserrat", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.img-block__subtitle {
  margin: 40px;
  color: rgb(255, 255, 255, 0.8);
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
}

.img-block__button {
  display: block;
  width: 225px;
  height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(255, 78, 80);
  border-radius: 30px;
}

/* section steps */

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 470px;
  margin-top: 100px;
}

.steps__title {
  font-weight: 550;
  font-size: 22px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 1px;
}

.steps__box {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 400px;
  margin-right: 20px;
  background-image: url(media/step1.png);
  background-repeat: no-repeat;
  border-radius: 4px;
}

.step::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 4px;
  content: "";
}

.step_2 {
  background-image: url(media/step2.png);
}

.step_3 {
  background-image: url(media/step3.png);
}

.step__content {
  z-index: 2;
  display: block;
  margin: 20px;
  color: #fff;
}

.step__heading {
  width: 70px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  background-color: rgb(255, 78, 80);
  border-radius: 30px;
}

.step__title {
  margin: 20px 0;
  font-weight: 600;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
}

.step__subtitle {
  color: rgb(204, 204, 204);
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2;
}
