@font-face {
  font-weight: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "MontserratBold";
  font-style: normal;
  src: url("/fonts/MotserratBold.ttf");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  src: url("/fonts/Roboto.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* header */

.img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(media/image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-block {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 940px;
}

.img-block__reg-box {
  display: flex;
  flex-direction: row;
}

.img-block__logo {
  font-weight: bold;
  font-size: 20px;
  font-family: "MontserratBold", Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.img-block__reg {
  padding: 15px 20px;
  font-weight: 600;
  font-family: "Montserrat", Arial, sans-serif;
}

.img-block__reg_border {
  border: 2px #fff solid;
  border-width: 2px;
  border-radius: 30px;
}

.img-block__title {
  font-weight: bold;
  font-size: 50px;
  font-family: "Montserrat", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.img-block__subtitle {
  margin: 40px;
  color: rgb(255, 255, 255, 0.8);
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
}

.img-block__button {
  display: block;
  width: 225px;
  height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(255, 78, 80);
  border-radius: 30px;
}

/* section steps */

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.steps__title {
  font-weight: 550;
  font-size: 22px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 1px;
}

.steps__box {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 400px;
  margin-right: 20px;
  background-image: url(media/step1.png);
  background-repeat: no-repeat;
  border-radius: 4px;
}

.step::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 4px;
  content: "";
}

.step_2 {
  background-image: url(media/step2.png);
}

.step_3 {
  margin: 0;
  background-image: url(media/step3.png);
}

.step__content {
  z-index: 2;
  display: block;
  margin: 20px;
  color: #fff;
}

.step__heading {
  width: 70px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  background-color: rgb(255, 78, 80);
  border-radius: 30px;
}

.step__title {
  margin: 20px 0;
  font-weight: 600;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
}

.step__subtitle {
  color: rgb(204, 204, 204);
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2;
}

/* section partners */

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.partners__title {
  font-weight: 550;
  font-size: 22px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 1px;
}

.partners__box {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  padding: 10px;
}

.partner__img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 125px;
  height: 125px;
  background-image: url(media/partner1.png);
  background-repeat: no-repeat;
}

.partner__img_2 {
  background-image: url(media/partner2.png);
}

.partner__img_3 {
  background-image: url(media/partner3.png);
}

.partner__img_4 {
  background-image: url(media/partner4.png);
}

.partner__box-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgb(255, 78, 80);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
}

.partner__box-ico_green {
  background-color: rgb(28, 215, 173);
}

.partner__box-ico_orange {
  background-color: rgb(255, 165, 7);
}

.partner__box-ico_blue {
  background-color: #4e73db;
}

.partner__title {
  margin: 20px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
}

.partner__slogan {
  color: rgb(102, 102, 102, 0.6);
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
}

.partners__link {
  display: block;
  width: 196px;
  min-height: 44px;
  margin-top: 40px;
  color: #ff4e50;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 3;
  text-align: center;
  text-decoration: none;
  border: 2px #ff4e50 solid;
  border-radius: 30px;
}

/* section images */

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.images__title {
  font-weight: 550;
  font-size: 22px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 1px;
}

.grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.grid__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 310px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(51, 51, 51);
  background-image: url(media/grid1.png);
  background-repeat: no-repeat;
  border-radius: 4px;
}

.grid__img_2 {
  background-image: url(media/grid2.png);
}

.grid__img_3 {
  background-image: url(media/grid3.png);
}

.grid__img_4 {
  background-image: url(media/grid4.png);
}

.grid__img_5 {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 620px;
  background-image: url(media/grid5.png);
}

.grid__img_6 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 620px;
  background-image: url(media/grid6.png);
}

.grid__img_7 {
  background-image: url(media/grid7.png);
}

/* section search */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.search__title {
  font-weight: 550;
  font-size: 22px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 1px;
}

.search__subtitle {
  margin: 40px;
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
}

.search-form {
  margin-bottom: 100px;
}

.search-form__input-text {
  width: 238px;
  height: 38px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.004);
}

.search-form__input-text::placeholder {
  padding-left: 10px;
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.2;
  text-align: left;
}

.search-form__button {
  width: 160px;
  height: 40px;
  margin: 0 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(255, 78, 80);
  border: none;
  border-radius: 30px;
}

.line {
  width: 100%;
  height: 4px;
  margin: 0;
  background-color: rgb(255, 78, 80);
}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 940px;
  padding: 25px 0;
}

.footer__logo {
  margin-top: 10px;
  color: rgb(255, 78, 80);
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.list {
  color: rgb(102, 102, 102, 0.6);
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.714;
  text-align: left;
  list-style-type: none;
}

.list__item_first {
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  text-align: left;
}

.copyright__text {
  margin-top: 15px;
  color: rgb(204, 204, 204);
  font-weight: bold;
  font-size: 10px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  text-align: right;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img-block__reg-box {
    padding-right: 50px;
  }

  .img-block__logo {
    padding-left: 50px;
  }

  .step {
    width: 235px;
  }

  .partners__box {
    flex-wrap: wrap;
    width: 520px;
  }

  .grid__img {
    width: 235px;
  }

  .grid__img_5 {
    width: 490px;
  }

  .grid__img_6 {
    width: 490px;
  }

  .footer {
    padding: 25px 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  /* CSS */
}
